.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url("../images/heart-button.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border-color: transparent;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: url(../images/hand\ cursor.svg) 16 16, auto;
}

.card__like-active-button {
  background: url(../images/like-active.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-color: transparent;
}
