.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin-bottom: 41px;
  padding-top: 45px;
}

@media screen and (max-width: 480px) {
  .header {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
    padding-top: 28px;
  }
}
