.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  margin: auto;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 20px 36px;
  box-sizing: border-box;
}

.modal__close {
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  top: -45px;
  right: -45px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal__close:hover {
  cursor: url(../images/hand\ cursor.svg) 16 16, auto;
  background-color: gray;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: black;
  margin: 14px 0 54px;
}

.modal__input-container {
  position: relative;
  min-height: 70px;
}

.modal__input {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
}

.modal__input_type_error {
  border-color: red;
}

.modal__error {
  font-size: 12px;
  color: red;
  visibility: hidden;
  min-height: 1.2em;
  line-height: 1.2em;
  margin-top: 5px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__save {
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  background-color: black;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.modal__save:hover {
  background-color: gray;
}

.modal__save_disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.modal_type_preview {
  justify-content: center;
  align-items: center;
}

.modal__preview-container {
  position: relative;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-close {
  background-image: url("../images/close.svg");
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
}

.modal__preview-close:hover {
  opacity: 0.5;
  cursor: url(../images/hand\ cursor.svg) 16 16, auto;
}

@media screen and (max-width: 670px) {
  .modal__container {
    width: 282px;
  }

  .modal__heading {
    font-size: 18px;
  }

  .modal__input {
    width: 100%;
  }

  .modal__save {
    font-size: 14px;
    height: 46px;
  }

  .modal__close {
  height: 26px;
  width: 26px;
  top: -45px;
  right: 0;
 
}

@media screen and (max-width: 620px) {
  .modal__preview-image {
    width: 100%;
  }
}

