.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  margin: auto;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  top: -45px;
  right: -45px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal__close:hover {
  cursor: url(../images/hand\ cursor.svg) 16 16, auto;
  background-color: gray;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__heading {
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: black;
  margin-bottom: 54px;
  margin-top: 24px;
  margin-left: 36px;
  margin-right: 64px;
}

.modal__input {
  width: 358px;
  height: 27.26px;
  margin: 0 30px 36px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
}

.modal__save {
  margin: 18px 36px 0;
  padding: 0;
  width: 358px;
  height: 50.15px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  background-color: black;
  color: white;
  border-radius: 2px;
}

.modal__save:hover {
  cursor: pointer;
  background-color: gray;
}

/* PREVIEW MODAL */

.modal__preview {
  justify-content: center;
  align-items: center;
}

.modal__preview-container {
  position: relative;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-close {
  background-image: url("../images/close.svg") center no-repeat;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
}

.modal__preview-close:hover {
  opacity: 0.5;
  cursor: url(../images/hand\ cursor.svg) 16 16, auto;
}

@media screen and (max-width: 670px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__close {
    height: 26px;
    width: 26px;
    top: -40px;
    right: 9px;
  }
  .modal__heading {
    margin: 25px 22px 75px;
    width: 238px;
    height: 22px;
    font-size: 18px;
  }

  .modal__input {
    margin: 0 22px 30px;
    width: 238px;
    height: 27px;
  }
  .modal__save {
    margin: 15px 22px 0;
    font-size: 14px;
    line-height: 16.94px;
    width: 238px;
    height: 46px;
    padding-top: 0px;
  }
}

@media screen and (max-width: 620px) {
  .modal__preview-image {
    width: 282px;
    height: 322px;
  }
}
