.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url("../images/edit-button.svg") center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border-color: white;
  border-style: solid;
  margin-left: 18px;
  border-width: 1px;
}

.profile__edit-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url("../images/add-button.svg") center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  border-width: 2px;
}

.profile__add-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 7px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    grid-gap: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 28.63px;
    text-align: center;
    padding-top: 26.25px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }

  .profile__edit-button {
    margin: 0;
    width: 18px;
    height: 18px;
    align-self: end;
    margin-left: 8px;
    margin-bottom: 2px;
  }

  .profile__image {
    margin-top: 38.25px;
    margin-right: 0;
  }
}
