.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.footer__text {
  max-width: 318px;
  color: #5c5c5c;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  margin: 67px 0 60px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .footer__text {
    margin: 48px 19px 36px;
    font-size: 14px;
  }
}
